<figure class="figure">
  <img src="{{car.image}}" class="figure-img img-fluid rounded">
  <figcaption class="figure-caption">
    <h4>Title: {{car.title}}</h4>
    <h5>Price: {{car.price | currency}}</h5>
    <h5> Description: {{car.description}}</h5>
    <h5> Potencia: {{car.cv}}CV</h5>
    <h5>Modelos: {{car.modelos}}</h5>
  </figcaption>
</figure>

<div class="row mt-4">
  <div class="col-md-4">
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
    <button class="btn btn-outline-primary"
            style="width:80px"
            (click)="goEdit()">
      Edit
    </button>
  </div>
</div>
